.text-xl {
  font-size: 4rem;
  line-height: 4.2rem;
}
.text-l {
  font-size: 3.6rem;
  line-height: 4rem;
}

.text-xm {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.text-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.text-s {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.text-xs {
  font-size: 1rem;
  line-height: 1.6rem;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 100;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 600;
}
.text-x-bold {
  font-weight: 700;
}
// .text-primary {
//   color: #40488D;
// }
// .text-secondary {
//   color: #FF6633;
// }
// .text-tertiary {
//   color: #FF6633;
// }
