<section>
    <div class="contact">
        <h2 class="text-xm bold">GET A QUOTE</h2>
        <div class="gradient"></div>
        <h2 class="text-xm light tp-1">Let's create your story</h2>
        <form action="" class="contact-form flex">
            <input type="text" placeholder="Name" class="small" required>
            <input type="text" placeholder="Email" class="small" email required>
            <input type="text" placeholder="Phone Number" class="small" required>
            <input type="text" placeholder="Brand Name (TBD if not yet decided)" class="small" required>
            <input type="text" placeholder="Product Type" class="small" required>
            <input type="text" placeholder="Total Number Of Creative Photos" class="small" required>
            <input type="text" placeholder="Total Number Of Listing Photos" class="small" required>
            <input type="text" placeholder="Total Number Of Cinematic Video" class="small" required>
            <textarea type="text" placeholder="Please specify any other requirements you might have like UGC, model shoots etc. with the units." class="large"></textarea>
            <app-was-button class="button" buttonText="Submit"></app-was-button>
        </form>
    </div>
</section>