<div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://whatashotproductions.com" target="_blank" rel="noopener">
      <img src="/assets/icons/fb.svg" alt="Share on Facebook" />
    </a>
    <a href="https://twitter.com/intent/tweet?url=https://whatashotproductions.com&text=Check%20out%20this%20awesome%20video%20production%20house!" target="_blank" rel="noopener">
      <img src="/assets/icons/x2.png" alt="Share on Twitter" />
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://whatashotproductions.com" target="_blank" rel="noopener">
      <img src="/assets/icons/in.svg" alt="Share on LinkedIn" />
    </a>
    <a href="https://api.whatsapp.com/send?text=Check%20out%20this%20awesome%20video%20production%20company:%20https://whatashotproductions.com" target="_blank" rel="noopener">
      <img src="/assets/icons/wa.svg" alt="Share on WhatsApp" />
    </a>
  </div>
  