.under-construction {
    height: 85.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
    }
    app-contact-banner {
        width: 90%;
    }
}