<section id="services-section">
  <app-section-intro
    [primaryText]="sectionIntroPrimaryText"
    [secondaryText]="sectionIntroSecondaryText"
    [description]="sectionIntroDescription"
  ></app-section-intro>
  <was-carousel [currentSlide]="currentSlide" (buttonClicked)="changeSlide($event)">
    <div *ngFor="let service of services" class="card">
      <div class="card-front">
        <div class="video-wrapper">
          <!-- <video
            [src]="service.serviceResource"
            autoplay
            muted
            loop
            playsinline
          ></video> -->
          <iframe
            width="100%"
            height="100%"
            [src]="service.serviceResource | safeUrl"
            [title]="service.serviceName"
            frameborder="0"
            allow="autoplay;muted"
            allowfullscreen
          >
          </iframe>
          <div class="video-overlay"></div>
        </div>
      </div>
      <div class="card-back">
        <h3 class="card-title text-s">{{ service.serviceName }}</h3>
        <p class="card-description text-s">
          {{ service.serviceDetails }}
        </p>
        <app-was-button
          buttonText="Book Now"
          buttonHref="#quote-section"
        ></app-was-button>
      </div>
    </div>
  </was-carousel>
</section>
