<!-- <div class="category">
    <mat-form-field class="small" appearance="fill">
        <mat-label>Categorize By:</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (selectionChange)="categorize(selectedCategory)">
          <mat-option value="brand">Brand</mat-option>
          <mat-option value="services">Services</mat-option>
        </mat-select>
      </mat-form-field>
</div> -->
<section>
  <iframe
    src="https://drive.google.com/embeddedfolderview?id=1iLqob3sio5iee_WtyGfjNOg4ILE3JIwm#grid"
    style="width: 100%; height: 600px; border: 0"
  ></iframe>
</section>
