<section class="category">
  <!-- <mat-form-field class="small" appearance="outline">
    <mat-label>Categorize By:</mat-label>
    <mat-select
      [value]="selectedCategoryType"
      (selectionChange)="categorize($event.value)"
    >
      <mat-option value="brands">Brand</mat-option>
      <mat-option value="services">Services</mat-option>
      <mat-option value="industries">Industry</mat-option>
    </mat-select>
  </mat-form-field> -->
  <p-select
    [options]="categoryTypes"
    [(ngModel)]="selectedCategoryType"
    (ngModelChange)="categorize()"
    optionLabel="label"
    optionValue="value"
    placeholder="Categorize By:"
  />
  <app-was-breadcrumb [breadcrumbs]="breadcrumbs"></app-was-breadcrumb>

  <app-category-detail
    [data]="selectedCategories"
    (itemSelected)="itemSelection($event)"
  ></app-category-detail>
</section>
<!-- <section>
  <iframe
    src="https://drive.google.com/embeddedfolderview?id=1J43VPzYfCdf3mLstVOR5pT6G0a6mlzAP#grid"
    style="width: 100%; height: 600px; border: 0"
  ></iframe>
</section> -->
