<section id="about-section">
  <app-section-intro
    [primaryText]="sectionIntroPrimaryText"
    [secondaryText]="sectionIntroSecondaryText"
    [description]="sectionIntroDescription"
  ></app-section-intro>
  <div class="about flex">
    <img
      class="about-img"
      src="../../../assets/images/about-img.svg"
      alt="BTS Image"
    />
    <div class="info">
      <h2 class="text-l bold">ABOUT</h2>
      <h2 class="text-l light">WHAT A SHOT</h2>
      <p class="text-m details light">
        We are a creative visual production team dedicated to bringing your
        vision to life. From concept to final cut, we craft cinematic
        experiences tailored to your brand and story.
      </p>
      <app-was-button
        buttonText="LET’S GET IN TOUCH"
        customClass="small"
        buttonHref="#contact-section"
      ></app-was-button>
    </div>
  </div>
</section>
