<section>
    <app-section-intro [primaryText]="sectionIntroPrimaryText" [secondaryText]="sectionIntroSecondaryText" [description]="sectionIntroDescription"></app-section-intro>
  <div class="about flex">
    <img
      class="about-img"
      src="../../../assets/images/about-img.svg"
      alt="BTS Image"
    />
    <div class="info">
      <h2 class="text-l bold">ABOUT</h2>
      <h2 class="text-l light">WHAT A SHOT</h2>
      <p class="text-m details light">
        Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis
        rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum.
        Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at
        risus viverra adipiscing at in.  Aliquam etiam erat velit scelerisque in
        dictum non consectetur a. Laoreet sit amet cursus sit amet. Vel eros
        donec ac odio tempor orci dapibus. Sem nulla pha retra diam sit amet
        nisl suscipit adipiscing bibendum. Leo a diam sollicitudi n tempor.
      </p>
      <app-was-button
        buttonText="LET’S GET IN TOUCH"
        customClass="small"
      ></app-was-button>
    </div>
  </div>
</section>
