<section id="about-section">
  <app-section-intro
    [primaryText]="sectionIntroPrimaryText"
    [secondaryText]="sectionIntroSecondaryText"
    [tertiaryText]="sectionIntroTertiaryText"
    [description]="sectionIntroDescription"
  ></app-section-intro>
  <div class="about flex">
    <img
      class="about-img"
      src="../../../assets/images/about-img.svg"
      alt="BTS Image"
    />
    <div class="info">
      <h2 class="text-l bold">ABOUT</h2>
      <h2 class="text-l light">WHAT A SHOT</h2>
      <p class="text-m details light">
        We’re a young, passionate team of videographers, photographers, editors,
        and storytellers who love what we do. At What A Shot Productions,
        creativity is at the heart of everything, from product shoots to powerful
        NGO narratives and documentary films. We specialize in:
      </p>
      <ul class="lm-3">
        <li class="text-m light">Product Shoots</li>
        <li class="text-m light">Corporate Videos</li>
        <li class="text-m light">Brand Films</li>
        <li class="text-m light">CSR Stories</li>
        <li class="text-m light">Documentaries</li>
        <li class="text-m light">Social Media Content</li>
      </ul>
      <p class="text-m details light">
        Every project is treated with the same passion, whether it's a
        small shoot or a full-scale video campaign. We blend innovation,
        emotion, and cinematic quality to deliver visuals that make people feel
        something.
      </p>
      <app-was-button
        customClass="was-button--primary"
        buttonText="LET’S GET IN TOUCH"
        buttonHref="#quote-section"
      ></app-was-button>
    </div>
  </div>
</section>
