<section class="intro">
  <div class="flex flex-sb">
    <div class="info">
      <div class="column-flex">
        <div class="column-flex text-xl bold">
          <div>
            <span class="dark-gradient-text">Capturing</span>
            <span> Into The Depths</span>
          </div>
          <div>
            <span>Of </span>
            <span class="light-gradient-text">Love, Joy and</span>
          </div>
          <div>
            <span class="light-gradient-text">Everything In Between</span>
          </div>
        </div>
        <div class="body text-m">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget.
          Lectus mauris eros in vitae .
        </div>
        <div class="text-xs bold flex">
          <app-was-button
            buttonText="GET A QUOTE NOW"
            buttonHref="#contact-section"
          ></app-was-button>
          <img
            class="arrow-img"
            src="../../../assets/images/arrow-small-right.svg"
            alt=""
          />
        </div>
      </div>
      <img
        class="curve curve-4"
        src="../../../assets/images/Vector 4.svg"
        alt=""
      />
    </div>
    <div class="hero">
      <img class="hero-img" src="../../../assets/images/hero-img.png" alt="" />
      <img
        class="curve curve-1"
        src="../../../assets/images/Vector 1.svg"
        alt=""
      />
      <img
        class="curve curve-2"
        src="../../../assets/images/Vector 2.svg"
        alt=""
      />
      <img
        class="curve curve-3"
        src="../../../assets/images/Vector 3.svg"
        alt=""
      />
    </div>
  </div>
</section>
