@use "../../../../assets/styles/abstracts/variables" as *;
@use "../../../../assets/styles/abstracts/mixins" as *;

.intro {
  .info {
    position: relative;
    .body {
      padding: 2rem 0;
      width: 75%;
    }
    .arrow-img {
      width: 7rem;
    }
  }
  .hero {
    position: relative;
    &-img {
      height: 37rem;
      width: auto;
      z-index: 200;
      position: inherit;
    }
  }
  .curve {
    position: absolute;
    &-1 {
      top: -12%;
      left: 39%;
      transform: rotate(10deg);
      width: 33rem;
      z-index: 100;
    }
    &-2 {
      top: -36%;
      left: 18%;
      width: 28rem;
      transform: rotate(-15deg);
    }
    &-3 {
      top: 46%;
      left: -6%;
      width: 53rem;
      transform: rotate(19deg);
    }
    &-4 {
      top: 0%;
      left: -11%;
      width: 20rem;
      transform: rotate(-14deg);
    }
  }
}


app-was-button:hover + .arrow-img {
  transform: translateX(4rem);
  transition: transform 0.3s ease;
}
