<section id="contact-us">
  <div class="contact-banner flex-sb">
    <div class="menu flex">
      <a href="https://www.instagram.com/whatashotproductions/" target="_blank"
        ><img src="../../../assets/icons/insta.svg" alt="whatsapp"
      /></a>
      <div class="title column-flex">
        <h3 class="text-m">Slide into our DMs</h3>
        <h5 class="text-xs">&#64;whatashotproductions</h5>
      </div>
    </div>
    <div class="menu flex">
      <a href="https://wa.me/919266429888" target="_blank"
        ><img src="../../../assets/icons/wa.svg" alt="Phone"
      /></a>
      <div class="title column-flex">
        <h3 class="text-m">Tap our digits</h3>
        <h5 class="text-xs">(+91)-9266429888</h5>
      </div>
    </div>
    <div class="menu flex">
      <a class="mail" href="mailto:info@whatashotproductions.com" target="_blank"
        ><img src="../../../assets/icons/mail.svg" alt="Mail"
      /></a>
      <div class="title column-flex">
        <h3 class="text-m">Buzz our inbox</h3>
        <h5 class="text-xs">info&#64;whatashotproductions.com</h5>
      </div>
    </div>
  </div>
</section>
