@use "../../../../assets/styles/abstracts/variables" as *;
@use "../../../../assets/styles/abstracts/mixins" as *;
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $color-primary;
}
.logo {
  img {
    display: flex;
    padding: 2rem 0;
    height: 13em;
    width: auto;

  }
}
.menu {
  flex: 1 1 50%;
  justify-content: center;
  gap: 5rem;
  @include respond(phone) {
    display: none !important;
  }
  &-mobile {
    display: none;
    @include respond(phone) {
      display: flex !important;
      flex-direction: column;
    }
  }
}
.cta {
  display: flex;
  gap: 4rem;
  @include respond(phone) {
    display: none;
  }
}

.mobile-logo {
  display: none;
  img {
    height: 11rem;
    width: auto;
  }
  @include respond(phone) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-mobile-dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  a {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  app-was-button {
    width: 80%;
  }

}

.open {
  padding: 4rem 0;
  max-height: 70rem;
  opacity: 1;
}