<div class="mobile-logo"  routerLink="/">
  <img src="../../../assets/images/logo_tra.png" alt="" />
<h4 class="text-s bold">WHAT A SHOT PRODUCTIONS</h4>
</div>
<div class="header flex-sb">
  <div routerLink="/" class="logo">
    <img src="../../../assets/images/logo_tra.png" alt="" />
  </div>
  <div class="menu flex-sb">
    <a routerLink="about" class="text-s bold">ABOUT</a>
    <a routerLink="services" class="text-s bold">SERVICES</a>
    <a routerLink="portfolio" class="text-s bold">OUR WORK</a>
    <!-- <a href="https://drive.google.com/drive/u/0/folders/1iLqob3sio5iee_WtyGfjNOg4ILE3JIwm" class="text-s bold">OUR WORK</a> -->
  </div>
  <div class="text-s bold">
    <app-was-button
      buttonText="CONTACT US"
      buttonHref="#contact-section"
    ></app-was-button>
  </div>
</div>
