<div class="card flex justify-center">
    <p-breadcrumb [model]="breadcrumbs" class="max-w-full">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-breadcrumb-item-link">
            <span [ngClass]="item.icon || ''" class="text-color"></span>
            <span class="text-m bold">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a [href]="item.url || '#'">
            <span class="text-color">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
  </div>
  