.main   {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .links {
        position: absolute;
        top: 1rem;
        left: 1rem;        
        a {
            height: 2rem;
            width: 2rem;
            margin: 0.5rem;
            img {
                height: 2rem;
            }
        }
    }
    .construction {
        height: 100%;
        width: 100%;
    }
}