@use '../assets/styles/abstracts/variables' as *;
@use '../assets/styles/abstracts/mixins' as *;
.main   {
    min-height: 100vh;
    width: 100%;
    background-color: $color-primary;
    padding:0 9rem;
    @include respond(tab-land) {
        padding: 0 5rem;
    }
    @include respond(phone) {
        padding: 0 3rem;
    }
}