<div class="main">
  <div class="links">
    <a target="_blank" href="https://wa.me/919266429888">
      <img src="../assets/icons/whatsapp-svgrepo-com.svg" alt="Chat with us">
    </a>
    <a target="_blank" href="https://www.instagram.com/whatashotproductions/">
      <img src="../assets/icons/insta-svgrepo-com.svg" alt="Instagram">
    </a>
    <a target="_blank"  href="https://www.linkedin.com/company/what-a-shot-productions/">
      <img src="../assets/icons/linkedin-svgrepo-com.svg" alt="LinkedIn">
    </a>
  </div>
  <img class="construction" src="assets/images/under-construction.jpg" alt="">
</div>