@use "../../../../assets/styles/abstracts/variables" as *;
@use "../../../../assets/styles/abstracts/mixins" as *;
.media {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5 items per row by default

  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }

  // @include respond(tab-port) {
  //   grid-template-columns: repeat(4, 1fr);
  // }

  @include respond(phone) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(phone-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  &-list {
    align-items: center;
    position: relative;
    width: 100%; // Ensure child fills the grid cell
    display: flex;
    justify-content: center;
  }

  &-img {
    height: auto;
    width: 100%;
    max-width: 20rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      .overlay-icon {
        opacity: 1;
      }
    }
  }

  &-vid {
    height: auto;
    width: 100%;
    max-width: 20rem;
    object-fit: cover;

    @include respond(phone) {
      max-width: 100%;
    }

    @include respond(phone-small) {
      max-width: 100%;
    }
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }

  .modal-content {
    width: 100rem;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone-small) {
      height: 50rem;
      width: 50rem;
    }
  }

  .modal-content img {
    height: 55rem;
    width: auto;
    @include respond(phone-small) {
      height: 40rem;
    }
  }

  .close-btn {
    position: relative;
    bottom: 28%;
    right: 1rem;
    background: #fff;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    @include respond(phone) {
      display: none;
    }
  }
}

.media-img-parent {
  position: relative;
  &:hover {
    .overlay-icon-img {
      opacity: 1;
    }
  }
}
.media-vid-parent {
  position: relative;
  &:hover {
    .overlay-icon-vid {
      opacity: 1;
    }
  }
}
.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Perfectly center
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;

  &-img {
    font-size: 5rem;
  }
  &-vid {
    height: 7rem;
  }
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6); // optional blur overlay
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  h3 {
    margin-top: 1rem;
    font-weight: 500;
    color: #333;
  }
}
