<section class="media" *ngIf="!isAnyLoading">
  <div *ngFor="let item of media" class="media-list">
    <div class="media-img-parent" *ngIf="isImage(); else videoEl">
      <img
        class="media-img"
        [src]="item.url"
        [alt]="item.alt"
        loading="lazy"
        (click)="imagePreview($event, item.url)"
      />
      <div class="overlay-icon overlay-icon-img">🔍</div>
      <!-- <img class="overlay-icon overlay-icon-img" src="../../../../assets/icons/magnifying-glass.svg"> -->
    </div>
    <ng-template #videoEl>
      <div class="media-vid-parent" (click)="showVideo(item)">
        <img
          *ngIf="!item.showVideo"
          class="media-vid"
          [src]="item.videoThumb"
          [alt]="item.alt"
        />
        <video
          *ngIf="item.showVideo"
          class="media-vid"
          controls
          autoplay
          preload="none"
        >
          <source [src]="item.url" type="video/mp4" />
        </video>
        <img
          class="overlay-icon overlay-icon-vid"
          src="../../../../assets/icons/play-button.svg"
        />
      </div>
    </ng-template>
  </div>
  <div
    *ngIf="imagePreviewUrl"
    class="modal-backdrop"
    (click)="imagePreview(null, '')"
  >
    <div class="modal-content">
      <img
        [src]="imagePreviewUrl"
        alt="Preview"
        (click)="$event.stopPropagation()"
      />
      <button class="close-btn" (click)="imagePreview($event, '')">×</button>
    </div>
  </div>
</section>

<div *ngIf="isAnyLoading" class="spinner-wrapper">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="80"
    color="primary"
  ></mat-progress-spinner>
  <h3 class="text-small">
    Please wait. We are preparing {{ media.length }} assets for you.
  </h3>
</div>