<section class="media">
  <div *ngFor="let item of media" class="media-list">
    <div
      class="media-img-parent"
      *ngIf="
        serviceId.includes('images') || serviceId.includes('model');
        else videoEl
      "
    >
      <img
        class="media-img"
        [src]="item.url"
        [alt]="item.alt"
        loading="lazy"
        (click)="imagePreview($event, item.url)"
      />
      <div class="overlay-icon">🔍</div>
    </div>
    <ng-template #videoEl>
      <video class="media-vid" controls>
        <source [src]="item.url" type="video/mp4" />
      </video>
    </ng-template>
  </div>
  <div
    *ngIf="imagePreviewUrl"
    class="modal-backdrop"
    (click)="imagePreview(null, '')"
  >
    <div class="modal-content">
      <img
        [src]="imagePreviewUrl"
        alt="Preview"
        (click)="$event.stopPropagation()"
      />
      <button class="close-btn" (click)="imagePreview($event, '')">×</button>
    </div>
  </div>
</section>
