<section id="testimonials-section">
  <app-section-intro
    [primaryText]="sectionIntroPrimaryText"
    [secondaryText]="sectionIntroSecondaryText"
    [description]="sectionIntroDescription"
  ></app-section-intro>
  <p-carousel
    [value]="testimonials"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="3000"
    [styleClass]="'custom-carousel'"
  >
    <ng-template let-testimonial #item>

    <div class="card">
      <img
        [src]="'../../../../assets/images/' + testimonial.imgUrl"
        alt=""
        class="dp"
      />
      <h4 class="text-s bold">{{ testimonial.clientName }}</h4>
      <h5 class="text-xs">{{ testimonial.brandName }}</h5>
      <p class="text-s italic">{{ testimonial.feedback }}</p>
    </div>
  </ng-template>
  </p-carousel>
</section>
